.modal-footer-main {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 73px;
  padding: 17px 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-footer-main .buttons-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons-modal-footer button {
  padding: 10px 22px;
  border-radius: 4px;
  display: inline-block;
}
.buttons-modal-footer .btn-cancle {
  color: #34a853;
}
.buttons-modal-footer .btn-apply {
  background: #34a853;
  margin-right: 10px;
  color: #fff;
}
